<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738347040434-unndgbruq79jmga0tno097uggb78hn0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738347040434-unndgbruq79jmga0tno097uggb78hn0b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738347040434-amc5ipp3q0e3uc81ia684h7iig29ua98.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALgUMb4IhHlwVO4rcnjkTBWwkXmn45LBI</string>
	<key>GCM_SENDER_ID</key>
	<string>738347040434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tobetoApp</string>
	<key>PROJECT_ID</key>
	<string>tobeto-pair2</string>
	<key>STORAGE_BUCKET</key>
	<string>tobeto-pair2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738347040434:ios:b19bfa9bb6381b792893ab</string>
</dict>
</plist>